.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #efefef;
}

.loteria {
  text-align: center;
  padding-top: 2rem;
  height: 65vh;
  background-image: url("../imgs/banner06.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mega-sena {
  background-image: url("../imgs/banner.svg");
}

.quina {
  background-image: url("../imgs/banner02.svg");
}

.lotofácil {
  background-image: url("../imgs/banner03.svg");
}

.lotomania {
  background-image: url("../imgs/banner04.svg");
}

.timemania {
  background-image: url("../imgs/banner05.svg");
}

.loteria select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../imgs/Polygon1.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  width: 233px;
  height: 51px;
  border-radius: 10px;
  padding-left: 33px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}

.loteria div:nth-child(2) {
  margin-top: 3rem;
}

.loteria h1 {
  margin: 11.85px 0 3rem;
  text-transform: uppercase;
}

.loteria p {
  text-transform: uppercase;
}

.luckyNumber ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.luckyNumber li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  margin: 5px 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.luckyNumber p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.64px;
  width: 316px;
  height: 58px;
  margin: 3rem auto 1rem;
}
